/* Variables */
:root {
  /* Primary colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

/* General settings */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  background-color: var(--white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-size: 50%, 50%;
  background-repeat: no-repeat;
}

/* Layout */

.container {
  font-size: 1.5rem;
  max-width: 125rem;
  height: 78rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 20rem;
}

/* Styles */


.product-title {
  color: var(--very-dark-magenta);
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.product-description {
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.6;
}

/* Ratings */

.ratings {
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.rate {
  background-color: var(--light-grayish-magenta);
  height: 6rem;
  width: 50rem;
  color: var(--very-dark-magenta);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  position: relative;
}

.stars {
  margin-right: 2rem;
}

.stars * {
  margin-right: 0.4rem;
}

.rate-1 {
  left: -10rem;
}

.rate-2 {
  left: -5rem;
}

/* Testimonials */

.testimonials {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}

.testimonial {
  background-color: var(--very-dark-magenta);
  color: var(--light-grayish-magenta);
  max-width: 40rem;
  padding: 4rem 3.2rem;
  height: fit-content;
  border-radius: 10px;
  position: relative;
}

.testimonial-info {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.profile-photo {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-weight: 600;
}

.verified {
  color: var(--soft-pink);
}

.customer-review {
  line-height: 1.6;
}

.testimonial-2 {
  top: 1.5rem;
}

.testimonial-3 {
  top: 3rem;
}